<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ATP.TestForm.Properties.Settings.MESDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=MESDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>